body {
  font-family: Verdana, sans-serif;
}

/*Styling the main menu*/
nav ul li {
  float: left;
  list-style: none;
}
nav ul li a {
  color: white;
  background: lightblue;
  padding: 10px;
  text-decoration: none;
  display:inline-block;
  width: 100px;
}

nav ul li a:hover {
  background: gray;
}

/* Styling the sub menu */
.submenu {
  position: relative;
}

.submenu ul {
  position: absolute;
  padding:0; 
  margin:0;
  display: none;
}

.submenu li{
  display: block;
  background: lightsteelblue;
  color: white;
  float: none;
  right:0;
  left:0;
}

/* Styling drop down links */
.submenu li a {
  background: transparent;
  padding:10px;
  display: block;
}

.submenu li a:hover {
  background: gray;
}

/* Showing Submenu on hover*/
.submenu:hover ul {
  display: block;
}